{%extends 'main/base.html' %}
{% load static %}

{% block title%}Boxes{% endblock title%}



{% block content%}

<p>See all your boxes here</p>

<p><a href="/newbox"><img src="{%static 'img/Plus.png'%}" width="250" height="250"</a></p></a>

<p>
        {% for box in boxes %}
        <a href="/comics/{{box.id}}"><img src="{{ box.image.url }}" alt="Logo here" width="250" height="250"</a>
                <figcaption> {{box.name}} </figcaption></a>
        {% endfor %}
</p>


{% endblock content %}
