{%extends 'main/base.html' %}
{% load static %}

{% block title%}Boxes{% endblock title%}



{% block content%}

<p>See all your boxes here</p>

<p><a href="/boxes/new-box"><img src="{%static 'img/Plus.png'%}" width="250" height="250" </a></p></a>

<p>
        {% for box in boxes %}
<table>
        <tr>
                <td>
                        <a href="/boxes/{{box.slug}}"><img src="{{ box.image.url }}" alt="Logo here" width="250"
                                        height="250" </a>
                                <figcaption> {{box.name}} </figcaption>
                        </a>
                        <a href="/boxes/{{box.slug}}/edit-box">edit</a> | <a
                                href="/boxes/{{box.slug}}/delete-box">delete</a>
                </td>
        </tr>
</table>
{% endfor %}
</p>
{% endblock content %}