{% extends 'main/base.html' %}

{% block title%}New Comic{% endblock title%}

{% block content %}
<h1>Add a new issue to the collection</h1>
<form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" name="save">Create New Issue</button>
        <br>
</form>

<!-- Have to go back 2 pages because of the image save -->
<button onclick="goBack()">Back</button>
<script>
function goBack() {
  window.history.go(-2);
}
</script>


{% endblock content  %}